.viewcode {
  width: 100%;
  border: 0;
}
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
/* work-around android zoom focus */
textarea:focus { font-size: 16px!important}
