body {
 font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
}

h1, h2, h3, h4 {
 font-family: Garamond, "Century Schoolbook L", serif;
}

h1 [lang|="ar"] {
 font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
 text-align: right;
}
#header {
 overflow:hidden;
 xxposition:relative;
 background: #efefef;
 border-bottom: 1px solid #ccc;
 padding: 1em;
}
#head {
 float: left;
}
#info {
 float: right;
 top: 2em;
 right: 2em;
 line-height: 1.25em;
}
#info ul {
 list-style: none;
}
#info a:link, #info a:visited {
 text-decoration: none;
}
#content {
 max-width: 42em;
 margin: 1em auto 1em auto;
}
#footer {
 text-align: center;
 border-top: 1px solid #ccc;
 padding: 1em;
}
#footer a:link, #footer a:visited {
 text-decoration: none;
}
.disabled {
 color: grey;
}
pre, code {
  font-family: consolas, "Liberation Mono", monospace;
}
